.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 20px;

  width: 100%;
  padding: 0 15px;

  @include responsive(T) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 20px;
    padding: 0 30px;
  }

  @include responsive(D) {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.row {
  grid-column: span 4;

  @include responsive(T) {
    grid-column: span 12;
  }
}

.row-carousel {
  grid-column: span 4;

  @include responsive(T) {
    grid-column: span 6;
  }

  @include responsive(D) {
    grid-column: span 7;
  }
}
