.overlay {
  position: fixed;
  z-index: $overlay-level;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  visibility: hidden;
  opacity: 0;
  background-color: rgba($primary, 0.5);

  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}
