.search-modal {
  position: fixed;
  z-index: $search-modal-level;
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);

  overflow-y: auto;

  width: 100%;
  height: 100vh;
  padding: 12px 0;

  background-color: $white;

  transition: transform 300ms ease-in-out;

  @include no-scrollbar;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    margin-bottom: 20px;
  }

  &-form {
    @include flexbox(between, $gap: 8px);

    .input-group {
      flex-grow: 1;
    }

    button {
      flex-grow: 0;
      flex-shrink: 0;
      width: 56px;
    }
  }
}
